@import "tailwindcss";

@theme {
    --color-brand-blue: #147cc3;
    --color-brand-pink: #bf38a6;
    --color-brand-yellow: #fad407;
    --color-brand-red: #ea4040;
    --color-brand-lightgreen: #1caf6b;
    --color-brand-green: #00b900;
}
